<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="cn.tedu.store.mapper.CartMapper">
<!-- 根据执行的SQL种类选择节点 -->
<!-- id是抽象方法的名称 -->
<!--parameterType是：抽象方法的参数类型  -->
<!-- SQL语句结束不需要分号 -->
<!--useGeneratedKeys="true" 获取自增长的建
 keyProperty="id"  表示建的属性名，即对应类中的属性名 -->
 
 <!-- 插入数据
	/**
	 * 添加收藏到购物车的数据
	 * @param cart
	 * @return
	 */
  -->
 <!--Integer addnew(Cart cart);  -->
<insert id="addnew" parameterType="cn.tedu.store.entity.Cart" useGeneratedKeys="true" keyProperty="id">
INSERT INTO T_cart (
uid,gid,price,count,
created_user,created_time,modified_user
,modified_time 
) VALUES(
#{uid},#{gid},#{price},#{count},
#{createdUser},
#{createdTime},#{modifiedUser},#{modifiedTime}
)
</insert>





<!-- -->
<!-- 	 * 查询购物车中是否有该商品
	 * @param uid
	 * @param goodsId
	 * @return
	 */
	Cart findByUidAndGid(@Param("uid") Integer uid,@Param("goodsId")Long goodsId); -->
<select id="findByUidAndGid" resultType="cn.tedu.store.entity.Cart" >
SELECT 
id,count
FROM 
t_cart
Where uid=#{uid} AND gid = #{goodsId}


</select>



<!-- /**
	 * 如果购物车中有该商品那么对其数量进行更新
	 * @param id
	 * @param count
	 * @return
	 */
	Integer updateCount(@Param("id")Integer id,@Param("count")Integer count，
	@Param("modifiedUser")String modifiedUser,@Param("modifiedTime")Date modifiedTime); -->
<update id="updateCount">
UPDATE
t_cart
SET
<if test="count != null">
count=#{count},
</if>

modified_user=#{modifiedUser},
modified_time=#{modifiedTime}
WHERE
id=#{id}

</update>




</mapper>
